@font-face {
  font-family: "Courier Std";
  src: url("CourierStd-Oblique.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Courier Std";
  src: url("CourierStd-BoldOblique.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Courier Std";
  src: url("CourierStd.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Courier Std";
  src: url("CourierStd-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Amatic SC";
  src: url("AmaticSC-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Amatic SC";
  src: url("AmaticSC-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  max-width: 375px;
  margin: auto;
}

h1 {
  font-family: "Amatic SC";
  font-weight: bold;
  text-align: center;
  font-size: 33px;
  padding: 10px 5px;
  margin-bottom: 0px;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  margin: 0 30px 0;
  padding-bottom: 5px;
}

header a {
  font-family: "Courier Std";
  font-style: normal;
  font-size: 12px;
  text-decoration: none;
  color: black;
}

hr {
  border: 1px dotted #000;
}

@keyframes scroll {
  from {
    transform: translateX(-3.2%);
  }
  to {
    transform: translateX(-34.7%);
  }
}

.scroll {
  font-family: "Courier Std";
  font-weight: bold;
  font-style: italic;
  font-size: 19px;
}

.track {
  height: 100%;
  overflow: hidden;
  padding-bottom: 10px;
  color: #000;
}

.text {
  animation: scroll 5000ms linear infinite;
  transform: translateX(-3.2%);
  display: inline-flex;
  will-change: transform;
  white-space: nowrap;
}

h2 {
  font-size: 18px;
  font-family: "Amatic SC";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  padding-left: 30px;
  margin-top: 0px;
}

main p {
  font-size: 13px;
  font-family: "Courier Std";
  font-weight: 500;
  font-style: normal;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}

main {
  background-color: #fff;
  height: 480px;
}

.container {
  margin: auto;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

figure {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
}

figcaption{
  font-size: 7px;
  text-align: left;
  font-weight: normal;
  margin: 240px 36px 0;
  font-family: "Courier Std";
  font-style: italic;
}

.slider-img {
  width: 100%;
  transform-origin: center;
  transition-duration: 0.5s;
  transition-property: transform, opacity;
  opacity: 0;
}

.show img {
  transform: scale(1);
  opacity: 1;
}

.navigation {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px 30px;
  width: 100%;
  padding-top: 100px;
}

.slider-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ecedf0;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  right: 50px;
  display: flex;
  top: 120px;
  opacity: 0.3;
}

i.arrow {
  font-size: 22px;
  color: grey;
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  justify-content: space-between;
}

article img {
  max-width: 140px;
}

.pumpkin{
  border: 1px dotted orange;
  border-radius: 20%;
}

.peas {
  border: 1px dotted red;
  border-radius: 20%;
}

.flower {
  border: 1px dotted purple;
  border-radius: 20%;
}

.buying-button {
  border: 2px dotted black;
  background-color: white;
  color: black;
  font-family: "Amatic SC";
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  padding: 11px;
  margin-top: 20px;
  text-decoration: none;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  text-align: center;
}

.point-de-vente {
  margin-top: 95px;
  margin-bottom: 0px;
}

.point-de-vente img {
  width: 240px;
  display: block;
  margin: auto;
}

.point-de-vente p {
  margin-top: 10px;
  padding-left: 26px;
  color: black;
  font-family: "Courier Std";
  font-style: italic;
  font-size: 12px;
}

.point-de-vente h2 {
  padding-top: 20px;
}


footer {
  background-color: black;
  color: white;
  margin-top: 40px;
}

footer h2 {
  font-family: "Amatic SC";
  font-size: 18px;
  padding-top: 47px;
}

footer p {
  font-size: 12px;
  font-family: "Courier Std";
  padding-left: 30px;
}

.plant-picto {
  width: 70px;
  position: relative;
  left: 75%;
  padding-bottom: 20px;
}

.go-up-button {
  width: 25px;
  height: 25px;
  display: block;
  box-shadow: 0 0 10px #33333355;
  position: fixed;
  bottom: 0;
  z-index: 2;
  right: 50%;
  transform: translateX(50%);
  margin-bottom: 5px;
}

.accordion {
  padding: 0 30px 35px;
}

.question {
  border-bottom: 1px dotted #000;
  padding: 15px 0px 5px;
  position: relative;
  margin-right: 26px;
}

.question .glyphicon {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: black;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.answer {
  max-height: 0;
  overflow: scroll;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.accordion li.open .question .glyphicon {
  transform: rotate(180deg);
}

.accordion li.open .answer {
  max-height: 150px;
}
