@font-face {
  font-family: "Courier Std";
  src: url("CourierStd-Oblique.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Courier Std";
  src: url("CourierStd-BoldOblique.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Courier Std";
  src: url("CourierStd.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Courier Std";
  src: url("CourierStd-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amatic SC";
  src: url("AmaticSC-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amatic SC";
  src: url("AmaticSC-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: white;
  max-width: 375px;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Amatic SC";
  font-weight: bold;
  text-align: center;
  font-size: 33px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  margin: 0 30px 0;
  padding-top: 10px;
  padding-bottom: 5px;
}

header a {
  font-family: "Courier Std";
  font-style: normal;
  font-size: 12px;
  text-decoration: none;
  color: black;
}

hr {
  border: 1px solid #000;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes text {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.scroll {
  font-family: "Courier Std";
  font-weight: bold;
  font-style: italic;
  font-size: 19px;
}

.track {
  width: 375px;
  height: 100%;
  white-space: nowrap;
}

.track > p > strong {
  color: #000;
}

.text {
  animation: scroll 20000ms linear infinite;
  display: inline-flex;
  will-change: transform;
}

h2 {
  font-size: 18px;
  font-family: "Amatic SC";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  padding-left: 30px;
  margin-top: 0px;
}

main p {
  font-size: 13px;
  font-family: "Courier Std";
  font-weight: 500;
  font-style: normal;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}

main {
  height: 450px;
}

.container {
  margin: auto;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.content {
  position: relative;
  width: 640px;
  height: 360px;
}

figure {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
}

.slider-img {
  width: 100%;
  transform-origin: center;
  transition-duration: 0.5s;
  transition-property: transform, opacity;
  opacity: 0;
}

.show img {
  transform: scale(1);
  opacity: 1;
}

.navigation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px 30px;
  width: 100%;
  padding-top: 100px;
}

.slider-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ecedf0;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  right: 50px;
  display: flex;
  top: 120px;
  opacity: 0.3;
}

i.arrow {
  font-size: 22px;
  color: grey;
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article img {
  max-width: 150px;
}

/* .pumpkin{
  background-color: orange;
} */

.buying-button {
  border: 2px dotted black;
  background-color: white;
  color: black;
  font-family: "Amatic SC";
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  padding: 4px;
  margin-top: 10px;
  text-decoration: none;
  position: absolute;
  right: 20%;
}

.point-de-vente {
  margin-top: 95px;
  margin-bottom: 0px;
}

.point-de-vente img {
  width: 240px;
  display: block;
  margin: auto;
}

.point-de-vente p {
  margin-top: 0px;
  text-align: center;
  color: black;
  font-family: "Courier Std";
  font-style: italic;
  font-size: 15px;
}

footer{
  background-color: black;
  color: white;
}

footer h2{
  font-family: "Amatic SC";
  font-weight: normal;
  font-size: 18px;
  padding-top: 47px;
}

footer p {
  font-size: 12px;
  font-family: "Courier Std";
  font-style: normal;
  padding-left: 30px;
}